<p style="color: green"><%= notice %></p>

<%= page_header(@service.name) %>

<%= render @service %>

<div class="relative inline-block text-left mt-4">
  <div>
    <button type="button" class="inline-flex justify-center w-full rounded-md border border-sky-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-sky-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500" id="options-menu" aria-haspopup="true" aria-expanded="true">
      Options
      <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.4140l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>

  <div class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
    <div class="py-1" role="none">
      <%= link_to "Add environment", new_service_environment_path(@service), class: "text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900", role: "menuitem" %>
      <%= link_to "Edit this service", edit_service_path(@service), class: "text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900", role: "menuitem" %>
      <form action="<%= service_path(@service) %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="text-gray-700 block w-full text-left px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900" role="menuitem">Destroy this service</button>
      </form>
    </div>
  </div>
</div>
