<!DOCTYPE html>
<html>
  <head>
    <title>WaveConnect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <nav class="navbar bg-primary">
      <div class="container-fluid justify-content-center">
        <form class="w-25" role="search">
          <input class="form-control rounded-5" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
